body {
    margin: 0 auto;
    padding: 0;
    background-color: #FEfAEF;
}

.title {
    padding-top: 5px;
    color: #333;
}

.title h1 {
    text-align: center;
    font-size: 120%;
    color: #FF6651;
}

.content {
    font-size: 16px;
    padding: 10px 10px 0 10px;
    line-height: 1.7;
    word-break: break-all;
    overflow: hidden;
}

.content img {
    display: block;
    margin: 0 auto;
    max-width: 100% !important;
    height: auto !important;
}

.content p {
    margin-bottom: 5px;
}

.content strong {
    color: green;
}

body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0
}